<h1>Here is all the information for a single merchant and links to what they do</h1>

<article class="">
  <section>
    <%= "You are registed under the name: #{@merchant.name} (#{@merchant.email})" %>
    <%= "through the #{"PROVIDER"} authentication" %>
  </section>
  <section>
    <%= link_to "Add a new product", new_merchant_product_path(@merchant) %>
    <%= link_to "Add a new product category", new_category_path %>
    <p>

    </p>
  </section>

  <%@item.each do |i|%>
    <p><%=i.order_id%><p>
  <% end %>

  <% @merchant.products.each do |product| %>

<% if product.orders.length > 0 %>
<table>
  <h3><%= link_to "#{product.name}", product_path(product) %>
    <small><%= link_to "Edit", edit_product_path(product) %></small>
    <small><%= link_to "" %></small></h3>
    <p><%= product.price %></p>
    <tr>
      <th>Order Date</th>
      <th>Order Number</th>
      <th>Customer</th>
      <th>Order Status</th>
      <!-- <th>Order Revenue</th> -->
      <th>Order Details</th>
    </tr>
    <% product.orders.reverse.each do |order| %>
    <section>
      <tr>
        <td><%=order.purchase_time.strftime("%Y-%m-%d")%></td>
        <td><%=order.id%></td>
        <td><%=order.name%></td>
        <td><%=order.status%></td>
        <!-- <td><%= OrderItem.find_by(product_id = product.id, order_id = order.id)%></td> -->
        <td><%= link_to "View", order_path(order) %></td>
      </tr>
    </section>
    <% end %>
  </table>
</article>
<% else %>
<h3><%= link_to "#{product.name}", product_path(product) %>
  <small><%= link_to "Edit", edit_product_path(product) %></small>
  <small><%= link_to "" %></small></h3>
<% end %>
<% end %>

  <p>
    This is the merchants#show view
  </p>
